/cache/example/example
/cache/example/example.exe
/cache/example/benchmark
/cache/example/benchmark.exe

/cookie/example/example
/cookie/example/example.exe

/counter/example/example
/counter/example/example.exe

/jsonConfig/example/example
/jsonConfig/example/example.exe

/genid/example/example
/genid/example/example.exe

/refl/example/example
/refl/example/example.exe

